@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Raleway');


:root{
	--primary-color: #040523;
	--secondary-color: #676DB5;
	--tertiary-color: #0054FF;
	--white: #FFFFFF;
}
/*
VERTICAL CENTER IN DIV
position: relative;
top: 50%;
transform: translateY(-50%);


Dark blue to pink
#000F69 	#0000D9 	#0A00FF 	#3F00FF 	#D48EFF
Dark blue to light blue
#000088		#001FEE		#21B2E0		#0058FF		#00FFFF
Dark blue and tan various
#040523		#676DB5		#0054FF		#E0D9D1		#61EBFF
Dark blue to green
#002531		#216CE2		#6F92C8		#2872F6		#00FF3C

Grays green blues
4E4D4A	353432	94BA65	2790B0	2B4E72

Twitter
DDFFCC	C3F0F2	B3ECEF	9AE4E8	30D8F0
*/

*{
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}
.menu-bar{
	background-color: var(--primary-color);
	position: fixed;
	width: 100%;
	height: 7%;
	z-index: 10;
}
.menu-bar-logo {
	width: 15%;
	padding-left: 15px;
	color: #FFFFFF;
	float: left;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}



nav {
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 25px;


	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
nav ul {
	list-style-type: none;
	float: right;
}
nav ul li {
	float: left;
	color: var(--white);
	text-align: left;
	margin-right: 25px;
	transition: all 0.3s linear;
}
ul li a {
	color: var(--white);
	text-decoration: none;
}
ul li:hover a {
	color: var(--secondary-color);
}




.intro{
	background-color: var(--secondary-color);
	background-image: url(../images/bear-lake.jpg);
	height: 400px;
	padding-top: 100px;
	padding-bottom: 100px;
  background-repeat: no-repeat;
  background-position: 65% 50%;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.intro-title{
	letter-spacing: 3px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;


	position: relative;
	top: 29%;
	transform: translateY(-50%);
}
.intro-title-contrast{
	color: var(--secondary-color);
}
.intro-sub-title{
	color: var(--white);
	padding-right: 10px;
	padding-left: 10px;
	text-align: center;


	position: relative;
	top: 30%;
	transform: translateY(-50%);
}
.intro-content{
	background-color: var(--primary-color);
	height: 50px;
}

.center-title {
	background-color: var(--secondary-color);
	background-image: url(../images/porter-live.jpg);
	height: 400px;
	padding-top: 100px;
	padding-bottom: 100px;

  background-repeat: no-repeat;
  background-position: 40% 50%;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.menu-bar {
	font-size: 16px;
}
/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
	.menu-bar {
		font-size: 14px;
	}
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
	.menu-bar {
		font-size: 12px;
	}
}
/* Mobile */
@media (max-width: 320px) {
	.menu-bar {
		font-size: 10px;
	}
}
