@charset "UTF-8";

.social-media-button {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Oswald';
    display: table;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    width: 60px;
    text-align: center;

    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);

    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;

    height:54px;
    cursor:pointer;
    overflow:hidden;

    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

.social-media-button:active {
    -webkit-transform: translate(0, 3px);
    -moz-transform: translate(0, 3px);
    transform: translate(0, 3px);
}

/* Twitter button */
.social-media-button.twitter-small{
    -webkit-box-shadow: 0px 6px 0px #2695BC;
    -moz-box-shadow: 0px 6px 0px #2695BC;
    box-shadow: 0px 6px 0px #2695BC;
}
.social-media-button.twitter-small{
    background:#2CA9E1 url("../images/social/twitter.png") no-repeat center center;
}

.social-media-button.twitter-small:active{
    -webkit-box-shadow: 0px 2px 0px #2695BC;
    -moz-box-shadow: 0px 2px 0px #2695BC;
    box-shadow: 0px 2px 0px #2695BC;
}
/* Gmail button */
.social-media-button.gmail-small{
    -webkit-box-shadow: 0px 6px 0px #c51307;
    -moz-box-shadow: 0px 6px 0px #c51307;
    box-shadow: 0px 6px 0px #c51307;
}
.social-media-button.gmail-small{
    background:#ed2317 url("../images/social/gmail.png") no-repeat center center;
}

.social-media-button.gmail-small:active{
    -webkit-box-shadow: 0px 2px 0px #c51307;
    -moz-box-shadow: 0px 2px 0px #c51307;
    box-shadow: 0px 2px 0px #c51307;
}


/* Facebook button */
.social-media-button.facebook-small{
    -webkit-box-shadow: 0px 6px 0px #293F63;
    -moz-box-shadow: 0px 6px 0px #293F63;
    box-shadow: 0px 6px 0px #293F63;
}
.social-media-button.facebook-small{
    background:#3B5997 url("../images/social/facebook.png") no-repeat center center;
}

.social-media-button.facebook-small:active{
    -webkit-box-shadow: 0px 2px 0px #293F63;
    -moz-box-shadow: 0px 2px 0px #293F63;
    box-shadow: 0px 2px 0px #293F63;
}



/* Gplus button */
.social-media-button.gplus-small{
    -webkit-box-shadow: 0px 6px 0px #20211D;
    -moz-box-shadow: 0px 6px 0px #20211D;
    box-shadow: 0px 6px 0px #20211D;
}
.social-media-button.gplus-small{
    background:#353631 url("../images/social/gplus.png") no-repeat center center;
}

.social-media-button.gplus-small:active{
    -webkit-box-shadow: 0px 2px 0px #20211D;
    -moz-box-shadow: 0px 2px 0px #20211D;
    box-shadow: 0px 2px 0px #20211D;
}



/* Linkedin button */
.social-media-button.linkedin-small{
    -webkit-box-shadow: 0px 6px 0px #005377;
    -moz-box-shadow: 0px 6px 0px #005377;
    box-shadow: 0px 6px 0px #005377;
}
.social-media-button.linkedin-small{
    background:#0073B2 url("../images/social/linkedin.png") no-repeat center center;
}

.social-media-button.linkedin-small:active{
    -webkit-box-shadow: 0px 2px 0px #005377;
    -moz-box-shadow: 0px 2px 0px #005377;
    box-shadow: 0px 2px 0px #005377;
}
