@charset "UTF-8";

.wrapper {
  padding: 5px;
  position:inherit;
}
.social-media-banner {
	background-color: #5A1100;
	height: 200px;
	padding-top:20px;
	padding-bottom: 20px;
}
.social-media-view {
}
