@charset "UTF-8";


.social-media-banner {
	background-color: #5A1100;
	height: 100px;
	padding-top:20px;
	padding-bottom: 20px;
  width: 400px;

}
.social-media-view {
  width: 19%;
  display: inline-block;
  *display: inline;
  vertical-align: top;
}
.social-banner {
  background-color: #571100;
  align-content: center;
  display:inline-block;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 20%;
  padding-left: 20%;
  width: 60%;
}
