

.container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


.card {
  display: block;
  position: absolute !important;
  top: calc(40%);
  right: calc(50% - 150px);
  width: 300px;
  // padding: 16px;
  // // background-color: var(--joy-bg-color);
  // border-radius: var(--joy-radius-sm);
  // box-shadow: var(--joy-shadow-md);
}