.stack {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.inner {
  margin: 0;
  padding: 0;
  //   height: calc(100% - 95px);
  height: 100%;
  width: 100%;
}
